* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Josefin Sans;
  background-color: hsl(0, 100%, 98%);
  color: hsl(0, 6%, 24%);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  width: 75%;
  min-height: 100vh;
  margin: 0 auto;
  gap: 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 65%;
}

.left header {
  margin-bottom: 8rem;
}

.left header .hero__img {
  display: none;
}

.left main {
  width: 75%;
}

.left main h1 {
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 6px;
  color: rgb(33, 31, 31);
  margin-bottom: 1.8rem;
}

.left main h1 span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.left main p {
  color: hsl(0, 36%, 70%);
  line-height: 1.5;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.hero__img {
  width: 100%;
  align-self: flex-start;
}

form input {
  padding: 1rem;
  max-width: 5rem;
  width: 80%;
  border-radius: 10rem;
  border: 0.9px solid hsl(0, 36%, 70%);
  font-family: inherit;
  color: hsl(0, 36%, 70%);
}

form input:se {
  border: hsl(0, 93%, 68%) 1px solid;
}

.input__email {
  position: relative;
  min-width: 21rem;
  width: 70%;
}

.subit__btn {
  position: absolute;
  left: 32rem;
  padding: 0rem;
  padding-top: 0.3rem;
  font-family: inherit;
  font-size: 2.5rem;
  max-width: 4.5rem;
  color: white;
  font-weight: 600;
  background-image: url(images/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.error-message {
  color: hsl(0, 93%, 68%);
  font-weight: 400;
  font-family: inherit;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.input-error {
  border: 2px solid hsl(0, 93%, 68%);
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px;
}

@media only screen and (max-width: 708px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    order: 1;
  }

  .container .left {
    width: 100%;
  }

  .left header {
    order: 2;
    width: 100%;
    margin: 1rem auto;
  }

  .left .header {
    margin: 2rem 1.5rem;
  }

  .left header .hero__img {
    display: block;
    align-self: flex-start;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
    margin: 1rem auto;
  }

  .right .hero__img {
    display: none;
  }

  .left main {
    order: 4;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
  }

  .left main h1 {
    width: 100%;
    font-size: 2.8rem;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    line-height: 1.2;
  }

  .left main p {
    margin-top: 1rem;
    text-align: center;
  }

  .left footer {
    order: 5;
    width: 100%;
    padding: 0 3rem;
  }

  .left footer .input__email {
    position: relative;
    min-width: 19rem;
    width: 100%;
    margin: 0 auto;
  }

  .left .subit__btn {
    position: absolute;
    left: 23rem;
    padding: 0rem;
    padding-top: 0.3rem;
    font-family: inherit;
    font-size: 2.5rem;
    max-width: 4.5rem;
    color: white;
    font-weight: 600;
    background-image: url(images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
